
.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encabezado__logo:nth-of-type(1) {
  order: 1;
}

.encabezado__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 37%;
  max-width: 400px;
  height: auto;
}
.encabezado__logo-img{
  width: 100%;
}
.encabezado__buscar{
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  margin-right: 0;
  padding: 1%;
  height: 4vh;
}

.encabezado__input{
  border: none;
  background: none;
  outline: none;
  line-height: 60px;
  width: 0;
  font-size: 1rem;
  font-family: var(--raleway);
}

.encabezado__buscar:hover > .encabezado__input {
  transition: width 0.6s ease-in-out;
  width: 200px;
}

.encabezado__btn-buscar {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #a2a2a2;
}
.encabezado__buscar:nth-of-type(2) {
  order: 3;
}
.encabezado__login:nth-of-type(3) {
  order: 2;
}

.encabezado__login {
  border: 1px solid var(--fuente-azul);
  height: 30px;
  text-align: center;
  width: 20%;
}
.encabezado__login {
  width: 28%;
}
.encabezado__login-a{
  color: var(--fuente-azul);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

 @media only screen and (min-width: 768px)  {
  .encabezado__buscar{
    border-radius: 40px;
    margin-right: 13%;
    background-color: var(--background-gris);
    height: 5vh;
  }
  .encabezado__input{
    width: 29vw;
  }
  .encabezado__login{
    width: 30%;
    height: 40px;
  }
  .encabezado__buscar:hover > .encabezado__input {
    width: 29vw;
  }

  .encabezado__buscar:nth-of-type(2) {
  order: 2;
  }
  
  .encabezado__login:nth-of-type(3) {
    order: 3;
  }
}