.encabezado {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.encabezado__logo:nth-of-type(1) {
  order: 1;
}
.encabezado__logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-width: 100px;
  width: 20%;
}
.encabezado__logo-img {
  width: 90%;
}
.encabezado__buscar{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  height: 2vh;
  border-radius: 40px;
  background-color: #F5F5F5;
  margin-right: 20%;
}
.encabezado__input{
  border: none;
  background: none;
  outline: none;
  line-height: 60px;
  width: 29vw;
  font-size: 1rem;
}
.encabezado__btn-buscar {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: #a2a2a2;
}
.encabezado__buscar:nth-of-type(2) {
  order: 2;
}

.encabezado__login:nth-of-type(3) {
  order: 3;
}
.encabezado__login {
  border: 1px solid #2a7ae4;
  cursor: pointer;
  height: 25px;
  padding: 1% 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.encabezado__login-btn {
  border: none;
  background: none;
  color: #2a7ae4;
  outline: none;
  padding: 2.5% 0;
  cursor: pointer;
}
.encabezado__login:hover{
  background-color: #F5F5F5;
  transition: all 0.6s;
  border-radius: 10px;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .alineacion {
    width: auto;
    padding: 10px;
  }
  .encabezado__logo-img{
    width: 100%;
  }
  .encabezado__buscar{
    margin-right: 0;
    background: none;
  }
  .encabezado__input{
    width: 0;
  }
  .encabezado__buscar:hover > .encabezado__input {
    transition: width 0.6s ease-in-out;
    width: 160px;
  }
  .encabezado__buscar:nth-of-type(2) {
    order: 3;
  }
  .encabezado__login:nth-of-type(3) {
    order: 2;
  }
  .encabezado__login {
    width: 28%;
  }
}
