.iniciar__sesion{
    background-color: #E5E5E5;
}
.iniciar__sesion-contenido{
    padding: 5%;
}
.iniciar__sesion-titulo{
    text-align: center;
    font-weight: 700;
    color: #464646;
}

.form-iniciarsesion{
    width: 40%;
    margin: 0 auto;
    border-radius: 4px;
    margin-top: 4%;
}
.input-padron{
    padding: 2%;
    font-size: 1rem;
}
.btn-sesion{
    width: 100%;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .iniciar__sesion{
       height: 50vh;
    }
    .iniciar__sesion-contenido{
       padding: 25% 0;
    }
    .form-iniciarsesion{
        width: 83%;
    } 
}