.iniciar__sesion{
    background-color: var(--background-gris-bajo);
    height: 57vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iniciar__sesion-contenido{
    width: 100%;
}
.iniciar__sesion-titulo{
    font-family: var(--raleway);
    text-align: center;
    font-weight: 900;
    color: var(--fuente-negro);
    font-size: 18px;
}

.form-iniciarsesion{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4%;
}
.formulario__grupo-input{
    border-radius: 4px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.input-padron{
    padding: 5%;
    font-size: 1rem;
    border: none;
    height: 63px;
    width: 93%;
    outline: none;
}
.btn-sesion_enviar{
    min-width: 109px;
    min-height: 40px;
    border: none;
    background-color: var(--fuente-azul);
    color: var(--fuente-blanco);
}

@media only screen and (min-width: 768px) {
    .iniciar__sesion{
        height: auto;
    }
    .iniciar__sesion-contenido{
       padding:3%;
    }
    .form-iniciarsesion{
        width: 60%;
    } 
    .btn-sesion_enviar{
        width: 93%;
        height: 63px;
    }
}