.productos{
  background: var(--background-gris-bajo);
  font-family: var(--raleway);
}
.productos__card {
  display: grid;
  grid-template-areas:
    "card-imagen"
    "card-info";
  grid-template-columns: 100%;
  grid-template-rows: 179px auto;
  margin-top: 4%;
  width: 47%;
}

.productos__card:nth-child(5),
.productos__card:nth-child(6) {
  display: none;
}
 
.productos__card-imagen {
  grid-area: card-imagen;
  object-fit: cover;
  height: 174px;
  width: 100%;
}
.productos__card-info {
  display: grid;
  grid-area: card-info;
  grid-row-gap: 0.5rem;
  margin-top: 0.5rem;
}

.productos__header-titulo {
  color: var(--fuente-negro);
  line-height: 38px;
  font-size: 22px;
  font-weight: 700;
}
.productos__boton,
.productos__boton-a {
  background: none;
  border: none;
  color: var(--fuente-azul);
  cursor: pointer;
  outline: none;
  font-size: 16px;
  text-decoration: none;
}
.productos__grupo {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-area: contenido;
}
.productos__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.productos__card-descripcion {
  color: var(--fuente-negro);
  font-size: 14px;
  font-weight: 500;
}
.productos__card-precio {
  color: var(--fuente-negro);
  font-weight: 700;
  font-size: 16px;
}
.productos__card-btn {
  background: none;
  border: none;
  color: var(--fuente-azul);
  cursor: pointer;
  font-size: 14px;
  padding: 0;
  outline: none;
  text-align: left;
}
.productos__card-a{
  text-decoration: none;
  color: var(--fuente-azul);
}
@media only screen and (min-width: 768px) {
  .productos__grupo {
    flex-wrap: nowrap;
    gap: 0.7rem;
  }
}

@media only screen and (min-width: 1024px) {
  .productos__card:nth-child(5),
  .productos__card:nth-child(6) {
    display: grid;
    grid-template-areas:
      "card-imagen"
      "card-info";
    grid-template-columns: 100%;
    grid-template-rows: 179px auto;
    margin-top: 4%;
    width: 47%;
  }
  .productos__header-titulo{
    font-size: 32px;
  }
  .productos__boton{
    font-size: 16px;
  }
  .productos__card-imagen {
    object-fit: contain;
  }
}